@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Modern Walk</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Добре дошли!</h2>
        <p>
            В един свят, където повечето хора желаят да изглеждат добре,
            но не винаги знаят кои ключови модели могат най-добре да отразят личността им,
            Modern Walk скъсява разстоянието между модата и тези, които мечтаят да я изживеят.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Облечи се за живота, който искаш</h2>
        <p>Често това, което избереш да носиш, отразява личните ти стремежи и мечти.</p>
    </div>
    <div class="col-md-4">
        <h2>За нас</h2>
        <p>
            В нашия онлайн магазин, ще намериш дрехи, обувки и аксесоари на световни марки като Esprit, 
            Mango, Motivi, Calvin Klein, Zee Lane, Le Coq Sportif, Napapijri, Desigual, Pepe Jeans London, Furla, Guess и Geox.
            Списъкът е още по-дълъг, но най-добре го провери от първо лице.
            И един съвет от нас – подбери марки, които подчертават визията на живота, който жадуваш!.
        </p>
    </div>
</div>